window {
    margin: 5px;
    border: 2px solid #ffffff;
    background-color: #111111;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}

#input {
    margin: 10px;
    border: none;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
}

#inner-box {
    margin: 10px;
    background-color: #111111;
}

#outer-box {
    margin: 10px;
}

#text {
    margin: 10px;
    color: #ffffff;
}

#entry {
    padding: 15px;
}

#entry:selected {
    background-color: #333333;
    outline: none;
}